.book_tk .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}

.book_tk .row .image {
  flex: 1 1 40rem;
}

.book_tk .row .image img {
  width: 100%;
}

.book_tk .row form {
  flex: 1 1 40rem;
  padding: 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.book_tk .row form .inputBox {
  padding: 0.5rem 0;
}

.book_tk .row form .inputBox input {
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  font-size: 1.7rem;
  color: #333;
  text-transform: none;
}

.book_tk .row form .inputBox h3 {
  font-size: 2rem;
  padding: 1rem 0;
  color: #666;
}

.heading_book {
  text-align: center;
  padding: 2.5rem 0;
}

.heading_book span {
  font-size: 3.5rem;
  background: rgba(255, 165, 0, 0.2);
  color: var(--orange-dark-color);
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
  text-transform: uppercase;
}

.heading_book span.space {
  background: none;
}

.btn_book {
  text-transform: uppercase;
  display: inline-block;
  margin-top: 1rem;
  background: var(--orange);
  color: #fff;
  padding: 0.8rem 3rem;
  border: 0.2rem solid var(--orange);
  cursor: pointer;
  font-size: 1.7rem;
}

.btn_book:hover {
  background: rgba(255, 165, 0, 0.2);
  color: var(--orange);
}

@media only screen and (max-width: 450px) {
  .heading_book span {
    font-size: 2.5rem;
  }
}
